body {
	background: #f9f9f9;
    color: #0e171c;
    display: grid;
    font: 300 100%/1.5em 'Lato', sans-serif;
    margin: 0;
    min-height: 100vh;
    place-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 510px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0,5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Here starts the calendar ---------- */

.calendar {
	text-align: center;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #2e8d70d7;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #2e8d70d7;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #2e8d70d7;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

/* ---------- I can never get my buttons right, I'm so mad ---------- */
.btn-prev{
    border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}


.btn-next {
	border: 2px solid #2e8d70d7;
	border-radius: 50%;
	color: #2e8d70d7;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover{
    background: #cbd1d2;
	color: #f9f9f9;
}

.btn-next:hover {
	background: #2e8d70d7;
	color: #2e8d70d7;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

/* digital clock starts here */

.digitalclock{
	font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 50px;
    white-space: nowrap;
}